@font-face {
    font-family: notosans;
    src: url('fonts/NotoSans-Regular.ttf');
    font-weight:	normal
}
@font-face {
    font-family: notosans;
    src: url('fonts/NotoSans-Bold.ttf');
    font-weight:	bold
}

body {
  background-color: #edeef0;
  padding:0;
  margin:0;
  font-family: 'notosans';
}

.header {
  background-color: #fff;
}

.header .catface {
  vertical-align: top;
  margin:5px;
  width:50px;
  height:50px;
  display:inline-block;
  background-size: 100% 100%;
}

    .header .catface.cat1 { background-image: url("icons/1.png"); }
    .header .catface.cat2 { background-image: url("icons/2.png"); }
    .header .catface.cat3 { background-image: url("icons/3.png"); }
    .header .catface.cat4 { background-image: url("icons/4.png"); }
    .header .catface.cat5 { background-image: url("icons/5.png"); }

.header .status {
  display:inline-block;
  padding: 10px 0px 8px 0px;
}

  .header .status .playpause {
    font-weight:bold;
    font-size:1em;
  }

  .header .status .info {
    font-size:0.9em;
  }

  .slideControl {

  }

    .slideControl label {
      display:inline-block;
      width:100px;
      margin:5px;
    }

    .slideControl label .title {
      font-weight:bold;
      font-size:0.8em;
    }

    .slideControl label .val {
      font-size:0.8em;
    }

      .slideControl .checklabel {
        font-size:0.8em;
      }

  .slideControl .slide {
    vertical-align: middle;
    margin-top:-18px;
    margin-left:10px;
    width:300px;
  }

  /* jqueryui */
  .ui-slider-horizontal {
    height:5px;
    display:inline-block;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:#59595c;
    border-radius:10px;
  }

  .ui-slider .ui-slider-handle {
    width:0.8em;
    height:0.8em;
  }

  .ui-widget-header {
    background: #fff;
  }

  .ui-widget-content {

  }

  /* nap page */
  body.nap {
    background-color: #fff;
  }

  body.nap .napcat {
    margin:auto;
    margin-top:10px;
    width:125px;
    height:125px;
    background-size: 100% 100%;
    background-image: url("icons/5.png");
  }

  body.nap .message {
    margin:auto;
    text-align: center;
    font-size:1.3em;
    font-weight:bold;
  }

  body.nap .countdown {
    margin:auto;
    text-align: center;
    font-size:1.1em;
    margin-bottom:10px;
  }
