@font-face {
    font-family: notosans;
    src: url('fonts/NotoSans-Regular.ttf');
    font-weight:	normal
}
@font-face {
    font-family: notosans;
    src: url('fonts/NotoSans-Bold.ttf');
    font-weight:	bold
}

body {
  background-color: #edeef0;
  padding:0;
  margin:0;
  font-family: 'notosans';

  /* no touching */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.header {
  background-color: #fff;
  cursor:default;
}

.header .catface {
  vertical-align: top;
  margin:5px;
  margin-left:10px;
  width:50px;
  height:50px;
  display:inline-block;
  background-size: 100% 100%;
}

    .header .catface.cat1 { background-image: url("icons/1.png"); }
    .header .catface.cat2 { background-image: url("icons/2.png"); }
    .header .catface.cat3 { background-image: url("icons/3.png"); }
    .header .catface.cat4 { background-image: url("icons/4.png"); }
    .header .catface.cat5 { background-image: url("icons/5.png"); }

.header .status {
  display:inline-block;
  padding: 10px 0px 8px 0px;
}

  .header .status .playpause {
    font-weight:bold;
    font-size:1em;
  }

  .header .status .info {
    font-size:0.9em;
  }

  .header .help {
    float:right;
    margin:10px;
    color:#4e4c60;
    cursor: pointer;
  }

  .header .help:hover { color: #000; }

  .controls {
    padding:10px;
  }

  .slideControl {

  }

    .slideControl label {
      display:inline-block;
      width:100px;
      margin:5px;
    }

    .slideControl label .title {
      font-weight:bold;
      font-size:0.8em;
    }

    .slideControl label .val {
      font-size:0.8em;
    }

      .slideControl .checklabel {
        font-size:0.8em;
      }

  .slideControl .slide {
    vertical-align: middle;
    margin-top:-18px;
    margin-left:10px;
    width:270px;
  }

  /* jqueryui */
  .ui-slider-horizontal {
    height:5px;
    display:inline-block;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:#59595c;
    border-radius:10px;
  }

  .ui-slider .ui-slider-handle {
    width:0.8em;
    height:0.8em;
  }

  .ui-widget-header {
    background: #fff;
  }

  .ui-widget-content {

  }

  /* brk page */
  body.brk {
    background-color: #fff;
  }

  body.brk .brkcat {
    margin:auto;
    margin-top:10px;
    width:125px;
    height:125px;
    background-size: 100% 100%;
    background-image: url("icons/5.png");
  }

  body.brk .brkcat.peek {
    background-image: url("icons/peek.png");
  }

  body.brk .peekloader {
    background-image: url("icons/peek.png");
    display:none;
  }

  body.brk .message {
    margin:auto;
    text-align: center;
    font-size:1.3em;
    font-weight:bold;
    cursor:default;
  }

  body.brk .countdown {
    margin:auto;
    text-align: center;
    font-size:1.1em;
    margin-bottom:10px;
    cursor:default;
  }

  body.brk .skipButton {
    cursor:pointer;
    width:140px;
    padding:8px;
    margin:auto;
    margin-top:8px;
    border-radius:4px;
    border:solid 1px #ccc;
    text-align:center;
  }

  body.brk .skipButton:hover {
    background-color: #ededed;
    border-color: #aaa;
  }
